<!DOCTYPE html>
<html>

<head>

<title>
Create NOVA Video
</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>


<h1>
✨ Create New NOVA Video
</h1>


<form method="post" action="/create">


<label>
Video Title
</label>

<br>

<input 
name="title"
required
>


<br><br>


<label>
Video Idea
</label>

<br>

<textarea 
name="idea"
required
></textarea>


<br><br>


<label>
Age Group
</label>

<br>

<select name="age_group">

<option>
3-6 Years
</option>

<option>
7-10 Years
</option>

<option>
11-14 Years
</option>

</select>


<br><br>


<label>
Language
</label>

<br>

<input 
name="language"
value="English"
>


<br><br>


<label>
Duration
</label>

<br>

<select name="duration">

<option>
3 Minutes
</option>

<option>
5 Minutes
</option>

<option>
10 Minutes
</option>

</select>


<br><br>


<label>
Video Type
</label>

<br>

<select name="video_type">

<option>
Educational Story
</option>

<option>
Science
</option>

<option>
Animals
</option>

<option>
Adventure
</option>

</select>


<br><br>


<button type="submit">

🚀 Generate Story

</button>


</form>


</body>

</html>
